#footer {
    margin-top: 10rem;
  }
  
  .ms-8 {
    margin-left: 22.75rem;
  }
  #RT {
    color: yellow;
    font-weight: bold;
  }
  
  #search{
    width: 450px;
  }
  #text {
    color: #fff; 
    font-weight: bold; 
  }
  
  #text:hover {
    background-color: white;
    color: #222222;
    border-radius:10%;
  }
  
  .container-1 {
    background-color: #FA320A;
  }
  
  
  
  
  .container-2 {
    background-color: #FA320A;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  
  .container-3 {
    background-color: gray;
    color: #fff;
  }
  
  .back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FA320A;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    cursor: pointer;
  }