
   /*style.css*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #FA320A;
}

.chatBot {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.chatBot header {
    background-color: #FA320A;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.chatbox {
    list-style: none;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}
.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}
.chat-input textarea {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.chat-input button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.chat-incoming {
    background-color: #f1f1f1;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.chat-outgoing {
    background-color: #FA320A;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: right;
}